.hy-section {
  padding: 10px;
  border: 1px dashed lightgrey;

  &.no-padding {
    padding: 0;
  }

  > .title {
    position: absolute;
    right: -1px;
    font-size: 11px;
    top: -1px;
    border: 1px dashed lightgrey;
    color: grey;
    padding: 2px 4px 3px 4px;
    font-family: monospace;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

}
