.hy-gallery {
  @import '../colors';

  $inner-color: $main-super-light;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  padding: 5px;

  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 30px auto;
  grid-gap: 5px;
  grid-template-areas:
    'header-bar header-bar'
    'side-bar main';

  background-color: $main-light;

  > .hy-header-bar {
    grid-area: header-bar;
  }

  > .hy-side-bar {
    grid-area: side-bar;

    background-color: $inner-color;
    border-radius: 1px;
  }

  > .main {
    grid-area: main;
    padding: 10px;
    overflow: auto;

    background-color: $inner-color;
    border-radius: 1px;

    > *:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  > .main.nothing-to-show {
    text-align: center;

    .vertically-centered {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .name {
      color: $text-light;
      margin-bottom: 20px;
    }

    .description {
      font-size: 1.6em;
      margin-bottom: 20px;
    }

    .keywords {
      font-size: 0.8em;

      .keyword {
        margin: 15px;
        color: $text-light;
      }
    }

    .footer {
      position: absolute;
      bottom: 5px;
      left: 50%;
      transform: translate(-50%, 0);
      font-size: 10px;
      color: #b7b7b7;

      cursor: pointer;
      // border-bottom: 1px solid transparent;

      &:hover {
        color: #5b8ffd;
        text-decoration: underline;
      }
    }
  }

  @import './section';
}
