.hy-gallery {
  @import '../colors';

  $side-bar-width: 250px;
  $outer-padding: 5px;
  $inner-color: $main-super-light;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: $main-light;

  > .hy-side-bar {
    position: absolute;
    left: $outer-padding;
    width: $side-bar-width;
    top: $outer-padding;
    bottom: $outer-padding;

    background-color: $inner-color;
    border-radius: 1px;
  }

  > .main {
    position: absolute;
    padding: 10px;
    left: $side-bar-width + $outer-padding + 5px;
    right: $outer-padding;
    top: $outer-padding;
    bottom: $outer-padding;
    overflow: auto;

    background-color: $inner-color;
    border-radius: 1px;

    > *:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  > .main.nothing-to-show {
    text-align: center;

    .vertically-centered {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .name {
      color: $text-light;
      margin-bottom: 20px;
    }

    .description {
      font-size: 1.6em;
      margin-bottom: 20px;
    }

    .keywords {
      font-size: 0.8em;

      .keyword {
        margin: 15px;
        // border: 1px solid $text-super-light;
        // padding: 1px 7px 2px 7px;
        color: $text-light;
      }
    }

  }

  @import './section';
}
