$main: hsla(210, 9%, 9%, 1.00);
$main-alternate: hsla(200, 8%, 15%, 1.00);
$main-light: #e2e2e2;
$main-super-light: hsla(0, 0%, 98%, 1.00);

$text-dark: $main;
$text-light: hsla(0, 0%, 60%, 1.00);
$text-super-light: hsla(0, 0%, 79%, 1.00);
