.hy-side-bar {
  padding-top: 10px;

  .example {
    cursor: pointer;

    &.deaf {
      cursor: initial;
    }

    > .label {
      padding: 10px;
    }

    &:hover, &.hover {
      &:not(.deaf):not(.selected) {
        background-color: lightgrey;
      }
    }

    &.selected {
      cursor: initial;
      background-color: darkgrey;
      color: white;
    }

  }
}
