.hy-side-bar {
  @import '../colors';
  padding: 5px 0;
  color: $text-dark;

  overflow: auto;

  .example,
  .example-folder {
    cursor: pointer;

    > .label {
      padding: 10px;

      > .hy-icon {
        left: -6px;
      }

      > .label-content {
        display: inline-block;
        top: 2px;
      }

      > .hy-deprecated {
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
  }

  .example {
    &:hover, &.hover {
      &:not(.deaf):not(.selected) {
        background-color: #b1caff;
      }
    }

    &.selected {
      cursor: initial;
      background-color: #5B8FFD;
      color: white;
    }
  }

  .example-folder:hover {
    > .label {
      background-color: #b1caff;
    }
  }

}
